@use "../../../../assets/scss/color.scss" as colors;
@use "../../../../assets/scss/config.scss" as config;
@use "../../../../assets/scss/font.scss" as fonts;

.portfolio__list-item {
  width: 100%;

  figure {
    position: relative;
    background-color: map-get(colors.$color-secondary, "50");
    border-radius: 10px;

    & * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    figcaption {
      position: absolute;
      width: 50%;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 20px 0 20px 20px;
      p,
      a {
        margin: 0;
        width: 100%;
        -webkit-transform: translateX(30px);
        transform: translateX(30px);
        opacity: 0;
      }
      a {
        color: map-get(colors.$color-tertiary, "50");
        display: block;
        font-weight: fonts.$medium-font-weight;
        font-size: 3vw;
      }
      p {
        color: map-get(colors.$color-primary, "10");
        font-weight: fonts.$semiBold-font-weight;
        font-size: 4vw;
      }
    }
    img {
      width: 100%;
      min-height: 10rem;
      max-height: 27rem;
      border-radius: 10px;
      opacity: 1;
    }
    &:hover {
      figcaption {
        p,
        a {
          -webkit-transform: translateX(0px);
          transform: translateX(0px);
          opacity: 1;
        }
      }
      img {
        transform: translate(22%, 0) scale(0.5);
      }
    }
  }
}

@media (min-width: #{config.$breakpoint-tablet}px) {
  /* Style Slider portofolio */
  .portfolio__list-item {
    figure {
      figcaption {
        line-height: 3rem;
        a {
          font-size: 2rem;
        }
        p {
          font-size: 3rem;
        }
      }
      img {
        min-height: 27rem;
        max-height: 42rem;
      }
    }
  }
}

@media (min-width: #{config.$breakpoint-desktop}px) {
  .portfolio__list-item-item {
    figure {
      min-height: 31.25rem;
    }
    img {
      min-height: 42rem;
      max-height: 44rem;
    }
  }
}
