@use "../../../../assets/scss/config.scss" as config;
@use "../../../../assets/scss/mixin" as mixin;

.navbars__logo {
  @include mixin.flex-display(row, space-between, center);
  width: 100%;
  z-index: 9;
  .image-brand {
    @include mixin.icon-sizing(
      map-get(config.$icon-size, "48"),
      map-get(config.$icon-size, "48")
    );
    align-self: flex-start;
  }
}

@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .navbars__logo {
    .image-brand {
      @include mixin.icon-sizing(
        map-get(config.$icon-size, "64"),
        map-get(config.$icon-size, "64")
      );
    }
  }
}
