@use "../../../assets/scss/config" as config;
/*  ==================
    Style for Clients
    ================== */

// ---------------------------
// Main Our Former Clients
// Mobile
// ---------------------------
.clients {
  &__list {
    margin-top: 56px;
    .swiper-wrapper {
      justify-content: space-around;
    }
    .swiper-slide {
      max-width: 100px;
    }
    &-item {
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

// ---------------------------
// Main Our Former Clients
// tablet > 834px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .clients {
    &__list {
      .swiper-wrapper {
        justify-content: center;
        gap: 64px;
      }
      &-item {
        img {
          min-height: 100px;
        }
      }
    }
  }
}

// ---------------------------
// Main Our Former Clients
// tablet > 1366px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-desktop}px) {
}
