@use "../../../assets/scss/config" as config;
/*  ==================
    Style for Clients
    ================== */

// ---------------------------
// Main Our Former Clients
// Mobile
// ---------------------------
.clients {
  &__list {
    margin-top: 3.5rem;
    &-item {
      img {
        margin: 0 auto;
        display: block;
      }
    }
  }
}

// ---------------------------
// Main Our Former Clients
// tablet > 834px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-tablet}px) {
}

// ---------------------------
// Main Our Former Clients
// tablet > 1366px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-desktop}px) {
}
