@use "../../../assets/scss/config" as config;

/*  ==================
    Style for Services
    ================== */

// ---------------------------
// Main Services
// Mobile
// ---------------------------
.services {
  position: relative;
  text-align: center;
}

// ---------------------------
// Main Services Menu
// Tablet > 834px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .services {
    text-align: left;
  }
}

// ---------------------------
// Main Services Menu
// Desktop > 1366px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-desktop}px) {
}
