@use "../../../assets/scss/color.scss" as colors;
@use "../../../assets/scss/config.scss" as config;
@use "../../../assets/scss/mixin.scss" as mixin;

$color-slider-1: rgba(157, 124, 195, 0.5);
$color-slider-2: map-get(colors.$color-tertiary, "10");
$color-slider-3: map-get(colors.$color-warning, "30");
$color-slider-pagination: map-get(colors.$color-primary, "90");
$color-slider-pagination-active: map-get(colors.$color-secondary, "50");

.services {
  position: relative;
  text-align: center;

  &__list {
    margin-top: 8.125rem;
  }

  &__item {
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $color-slider-1;
    border-radius: 10px;
    padding: 0 16px;
    padding-bottom: 40px;

    &-header {
      flex: 1;
      width: 242px;
      height: 176px;
      transform: translateY(-80px);
    }

    &-list-badage {
      margin-top: 36px;
      display: flex;
      flex-direction: column;
      row-gap: 24px;
    }

    &-badage {
      max-width: 184px;
      margin: 0 auto;
    }

    &.item-1 {
      margin-top: 0;
      background-color: $color-slider-1;
    }
    &.item-2 {
      background-color: $color-slider-2;
    }
    &.item-3 {
      background-color: $color-slider-3;
    }
  }
}

@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .services {
    text-align: left;
    &__list {
      margin-top: 3.5rem;

      .swiper {
        .swiper-pagination {
          position: sticky;
          bottom: -14px;
          &-bullet {
            background-color: $color-slider-pagination;
            transition: all 0.3s ease-in-out;
          }
          &-bullet-active {
            width: 40px;
            height: 8px;
            background-color: $color-slider-pagination-active;
            border-radius: 20px;
          }
        }
      }
    }
    &__item {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      padding: 40px 32px;
      height: 364px;
      border: 4px solid map-get(colors.$color-secondary, "50");
      &-header {
        width: 45%;
        order: 2;
        height: 100%;
        transform: translateY(0);
        img {
          width: 100%;
          height: 100%;
        }
      }

      &-content {
        width: 55%;
      }
      &-list-badage {
        margin-top: 24px;
        display: flex;
        row-gap: 8px;
        flex-direction: column;
      }
      &-badage {
        margin: 0;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
        max-width: 100%;
      }
    }
  }
}

@media screen and (min-width: #{config.$breakpoint-desktop}px) {
  .services {
    &__item {
      height: 400px;
      &-header {
      }
    }
  }
}
