@use "../../../assets/scss/config.scss" as config;
/*  ================
    Style for Agents
    ================ */

// ---------------------------
// Main Agent
// Mobile
// ---------------------------
.agents {
  margin: 0 35px;
  margin-top: 120px;
  margin-bottom: 200px;
}

// ---------------------------
// Main Agents
// Tablet > 834px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .agents {
    .section__title {
      text-align: center;
    }
    .section__subtitle {
      text-align: center;
    }
  }
}

// ---------------------------
// Main Agents
// Desktop > 1366px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-tablet}px) {
}
