@use "../../../assets/scss/color.scss" as colors;
@use "../../../assets/scss/config.scss" as config;
@use "../../../assets/scss/mixin" as mixin;
@use "../../../assets/scss/font.scss" as fonts;
/*  ================
    Style for Navbar
    ================ */
$navbar__item-color: map-get(colors.$color-primary, "10");
$navbar__item-active-color: map-get(colors.$color-secondary, "50");
$navbar__splash-color: map-get(colors.$color-secondary, "10");

// Font size for navbar
$navbar__font-size: 20px;
$navbar__line-height: 28px;
$navbar__font-weight: fonts.$semiBold-font-weight;

// ---------------------------
// Main Navigation Menu
// Mobile
// ---------------------------
.navbars {
  margin: 0 2.188rem;
  margin-top: 2rem;
  position: relative;
  @include mixin.flex-display(row, space-between, center);
  font-size: $navbar__font-size;
  font-weight: $navbar__font-weight;
  z-index: 2;

  &__menu {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    @include mixin.flex-display(column, space-between, center);
    column-gap: 1.25rem;
    transform: translateY(-400%);
  }

  &__item {
    width: 100%;
    @include mixin.flex-display(row, center, center);

    a {
      color: $navbar__item-color;
      font-weight: $navbar__font-weight;
      &:focus {
        color: $navbar__item-active-color;
      }
    }
  }

  &__button {
    @include mixin.button-start();
    width: 100%;
    font-size: 1.25rem;
  }

  // Background splash Navbar Menu
  &__bg-splash {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 1px;
    height: 1px;
    z-index: 7;
    overflow-y: hidden;

    &::after {
      content: "";
      position: fixed;
      display: block;
      border-radius: 50%;
      background-color: $navbar__splash-color;
      z-index: 7;
      opacity: 0;

      // screen diameter can be 142vmax at most,
      // circle needs to be twice that size to cover it
      width: 8vmax;
      height: 8vmax;
      top: 0vmax;
      right: 0vmax;

      transform: scale(0);
      transform-origin: 50% 50%;
      transition: all 0.5s ease-in-out;

      // will-change tells the browser we plan to
      // animate this property in the near future
      will-change: transform;
    }
  }
}

// when open navbar menu
.navbars-open {
  .navbars__menu {
    z-index: 9;
    transition: 0.5s ease-in-out;
    row-gap: 2.5rem;
    transform: translateY(0) !important;
  }

  .navbars__bg-splash::after {
    transform: scale(35);
    opacity: 1;
  }
}

// ---------------------------
// Main Navigation Menu
// Tablet > 834px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .navbars {
    margin: 0 4.688rem;
    margin-top: 4.5rem;
    font-size: 1.875rem;
  }
}

// ---------------------------
// Main Navigation Menu
// Desktop > 1366px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-desktop}px) {
  .navbars {
    margin: 0 auto;
    margin-top: 2rem;
    flex-direction: row;
    font-size: 1.25rem;
    &__menu {
      position: unset;
      flex-direction: row;
      column-gap: 2.5rem;

      transform: translateY(0);
    }
    &__item {
      width: auto;
      a {
        color: map-get(colors.$color-neutral, "50");
      }
    }
    &__button {
      width: 168px;
      height: 40px;
      font-size: 1rem;
    }
  }
}
