@use "../../../../assets/scss/color.scss" as colors;
@use "../../../../assets/scss/config.scss" as config;
/*  ================
    Style for Agents
    ================ */

// ---------------------------
// Main Agent
// Mobile
// ---------------------------
.agents__list {
  margin-top: 3.5rem;

  .swiper-wrapper {
    box-sizing: border-box;
    height: 40vh !important;
    & * {
      transition: all 0.5s ease-in-out;
    }
  }

  .agents__item {
    position: relative;
    overflow: hidden;
    flex: 1;
    transition: all 0.5s ease-in-out !important;
  }

  .agents__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 24px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
    p {
      color: map-get(colors.$color-primary, "10");
      font-size: 3vw;
      font-weight: 700;
    }
  }

  .agents__social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 10px;
    a {
      color: map-get(colors.$color-primary, "10");
      font-size: 3vw;
    }
  }

  .agents__item > img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  .agents__item:hover {
    flex-basis: 40%;
  }
  .agents__item:hover {
    img {
      width: 100%;
      height: 100%;
      filter: saturate(0) blur(5px);
    }
    .agents__overlay {
      opacity: 1;
    }
  }
}

@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .agents__list {
    .swiper-wrapper {
      height: 60vh !important;
    }
    .agents__overlay {
      p {
        font-size: 24px;
      }
    }

    .agents__social-media {
      a {
        color: map-get(colors.$color-primary, "10");
        font-size: 24px;
      }
    }
    .agents__item:hover {
      flex-basis: 20%;
    }
  }
}

@media screen and (min-width: #{config.$breakpoint-desktop}px) {
  .agents__list {
    .swiper-wrapper {
      height: 70vh !important;
    }
    .agents__overlay {
      p {
        font-size: 32px;
      }
    }

    .agents__social-media {
      a {
        color: map-get(colors.$color-primary, "10");
        font-size: 32px;
      }
    }
    .agents__item:hover {
      flex-basis: 10%;
    }
  }
}
