@use "../../../assets/scss/color.scss" as colors;
@use "../../../assets/scss/mixin.scss" as mixin;
@use "../../../assets/scss/config.scss" as config;
@use "../../../assets/scss/font.scss" as font;
/*  ===================
    Style for Jumbotron
    =================== */
$color-text__jumbotrons-light: map-get(colors.$color-primary, "10");
$color-text__jumbotrons-dark: map-get(colors.$color-neutral, "50");

// ---------------------------
// Main Navigation Menu
// Mobile
// ---------------------------
.jumbotrons {
  margin: 0 2.188rem;
  margin-top: 10rem;
  position: relative;
  @include mixin.flex-display(column, flex-start, unset);
  text-align: left;

  /* Tagline Jumbotron */
  .tagline {
    color: $color-text__jumbotrons-dark;
    margin-bottom: 24px;

    .tagline-brand {
      font-weight: font.$small-font-weight;
    }

    .tagline-text {
      margin: 0;
      position: relative;
      font-weight: font.$semiBold-font-weight;
      font-size: font.$h2-font-size;
      color: map-get(colors.$color-neutral, "50");
      line-height: 39px;
      overflow: hidden;

      & span::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: white;
        animation: a-ltr-after 3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
        transform: translateX(-101%);
        animation-delay: 1s;
      }

      & span::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: map-get(colors.$color-primary, "50");
        animation: a-ltr-before 3s cubic-bezier(0.77, 0, 0.18, 1) forwards;
        transform: translateX(0);
        animation-delay: 1s;
      }

      @keyframes a-ltr-after {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(101%);
        }
      }

      @keyframes a-ltr-before {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(200%);
        }
      }
    }
  }

  /* Style wrap button start and social media */
  &__wrap-div {
    @include mixin.flex-display(column, flex-start, unset);
  }

  /* Style list sosial media */
  &__list-sosial-media {
    margin-bottom: 56px;
    display: flex;
    gap: 20px;
    a {
      $color-icons: (
        "instagram": map-get(colors.$color-error, "50"),
        "wa": map-get(colors.$color-success, "50"),
        "gmail": map-get(colors.$color-error, "70"),
      );
      @each $social, $color in $color-icons {
        &.jumbotrons__icon-#{$social} .social-media-wrap-icon::after {
          background-color: $color;
        }
      }
      overflow: hidden;
      position: relative;
      // style for icon social media
      @include mixin.icon-social-media();
    }
  }

  /* Style button start */
  &__button-start {
    @include mixin.button-start();
  }

  &__button-start:not(:disabled):not(:disabled):active {
    color: map-get(colors.$color-secondary, "50");
  }
}

// ---------------------------
// Main Jumbotron
// Tablet > 834px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-tablet}px) {
  .jumbotrons {
    margin: 0 4.688rem;
    margin-top: 14.688rem;
  }
}

// ---------------------------
// Main Jumbotron
// Desktop > 1366px
// ---------------------------
@media screen and (min-width: #{config.$breakpoint-desktop}px) {
  .jumbotrons {
    margin: 0 0;

    margin-top: 9.25rem;
    .tagline {
      .tagline-brand {
        font-size: 30px;
        line-height: 39px;
        @include mixin.flex-display(row, space-between, center);
        max-width: 550px;
        span:nth-child(1) {
          &::before {
            content: "------";
          }
        }
      }
      .tagline-text {
        font-size: 60px;
        max-width: 598px;
        line-height: 70px;
      }
    }

    &__wrap-div {
      margin-top: 53px;
      @include mixin.flex-display(row, flex-start, center);
      column-gap: 70px;
    }

    &__list-sosial-media {
      margin: auto 0;
      order: 2;
    }
  }
}
